<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Hackroom{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<nav class="navbar is-danger" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="http://localhost"><strong>HackRoom</strong></>
            
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'hackroom:category_list' %}"><span class="icon"><i class="fas fa-clipboard-list"></i></span><span>Категории</span></a>
            <a class="navbar-item" href="{% url 'hackroom:policy_list' %}"><span class="icon"><i class="fas fa-gavel"></i></span><span>Политики</span></a>
            <a class="navbar-item" href="{% url 'hackroom:file_list' %}"><span class="icon"><i class="fas fa-hashtag"></i></span><span>Файлы и хеш-суммы</span></a>
            <a class="navbar-item" href="{% url 'hackroom:signature_list' %}"><span class="icon"><i class="fas fa-virus"></i></span><span>Сигнатуры</span></a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                <a class="button is-primary"><strong>Настойки</strong></a>
                <a class="button is-danger is-inverted"><strong>Выйти</strong></a>
            </div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container is-fluid">
    {% block page_header %}
        <h1 class="title">{% block page_title %}Clamav database manager{% endblock %}</h1>
    {% endblock %}
    {% block info %}{% endblock %}
    {% block content %}{% endblock %}
    </div>
</section>
{% block footer %}{% endblock %}
</body>
</html>
