{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container is-fluid">

        <h1 class="title">Файлы/хеш-суммы: {{ object_list|length }}</h1>

        <table class="table is-striped is-narrow is-hoverable">
            <thead>
                <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Descrtiption</th>
                <th>Policies</th>
                </tr>
            </thead>
            <tbody>
                {% for file in object_list %}
                <tr>
                <th>{{ file.id }}</th>
                <td>{{ file.name }}</td>
                <td>{{ file.description }}</td>
                <td>{{ file.policy_set.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
