{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container is-fluid">
<p>Количество категорий: {{ num_of_categories }}</a></p>
<p>Количество политик: {{ num_of_policies }}</a></p>
<p>Количество файлов: {{ num_of_files }}</a></p>
{% if latest_policies_list %}
<br><p>Последние действия:</p>
	<ul>
	{% for policy in latest_policies_list %}
	<li><a href="{% url 'hackroom:policy_update' policy.id %}">{{ policy.full_name }}</a></li>
	{% endfor %}
	</ul>
{% else %}
<p>No policies are aviable.</p>
{% endif %}



    </div>
</section>
{% endblock %}
