{% extends "hackroom/object_list.html" %}

{% block page_title %}Политики: {{ object_list|length }}{% endblock %}

{% block buttons %}
<a class="button is-link is-outlined" href="{% url 'hackroom:policy_create' %}">Добавить новую</a>
{%endblock%}

{% block table_head %}
<tr>
    <th>ID</th>
    <th>Full name</th>
    <th>Type</th>
    <th>Files</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Active?</th>
    <th></th>
</tr>
{% endblock %}

{% block table_body %}
{% for policy in object_list %}
<tr>
    <th>{{ policy.id }}</th>
    <td>{{ policy }}</td>
    <td>{{ policy.get_type_display }}</td>
    <td>{% if policy.file_set.count != 0 %}{{ policy.file_set.count }}{% else %}—{% endif %}</td>
    <td>{{ policy.created_ts|date:"d.m.y H.i" }}</td>
    <td>{{ policy.updated_ts|date:"d.m.y H.i" }}</td>
    <td>{{ policy.active }}</td>
    <td>
        <div class="field is-grouped">
            <div class="control">
                <a class="button is-primary is-outlined is-small" href="{% url 'hackroom:policy_update' policy.id  %}"><i class="fas fa-cog"></i></a>
            </div>
            <div class="control">
                <a class="button is-danger is-outlined is-small" href="{% url 'hackroom:policy_list' %}"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
{% endblock %}
